/*
	DropDowns
	Author: Chase Willden;
*/

.dropdown{
	display: none;
	margin: 0;
	padding: 0;	
	list-style: none;
	min-width: 200px;
	width: auto;
	background-color: white;
	box-shadow: 0 3px 10px rgba(0,0,0,.4);
	position: absolute;
	z-index: 10000;
	text-align: left;
}

@media(max-width: 768px){
	nav .dropdown{
		background-color: #2E2E2E;
	}

	nav .dropdown li a{
		border-top: solid 1px #464646;
		border-bottom: solid 1px #464646; 
		color: white;
	}

	nav .dropdown li a:hover{
		background-color: transparent;
	}
}

.dropdown li{
	color: black;
	display: block;
	position: relative;
}

.dropdown li a{
	text-decoration: none;
	color: black;
	font-size: 16px;
	padding: 5px 15px;
	display: block;
	position: relative;
}

.dropdown li a:hover{
	background-color: #F0F0F0;
}

.dropdown li a .pull-right{
	text-align: right;
	display: inline-block;
	margin-left: 25px;
	float: right;
}

.dropdown > .divider{
	border-bottom: solid 1px #F0F0F0;
	margin-top: 5px;
	margin-bottom: 5px;
}

.dropdown li div{
	display: inline;
}
