/*
	Form Components
	Author: Chase Willden;
*/

.form{
	padding: 12px;
}

.form .btn{
	margin: 0;
}

.form-comp{
	font-size: 16px;
	background-color: white;
	color: black;
	border: solid 1px rgb(168, 168, 168);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.3);
	box-shadow: 0 0 3px rgba(0,0,0,.3);
	font-family: sans-serif;
	min-width: 98%;
	position: relative;
	padding: 3px 5px 3px 10px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	-o-transition: ease all .2s;
	-moz-transition: ease all .2s;
	-webkit-transition: ease all .2s;
	transition: ease all .2s;
}

input[type=checkbox].form-comp{
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	min-width: 13px;
	max-width: 15px;
	display: inline;
}

.form-comp:after{
	color: #ccc;
}

.form-comp:hover{
	border: solid 1px rgb(144, 144, 144);
}

.form-comp:active, .form-comp:focus{
	outline: none;
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.42);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.42);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.42);
}

.form-comp.sm{
	height: 23px;
}

.form-comp.md{
	height: 26px;
}

.form-comp.lg{
	height: 34px;
}

label{
	font-weight: bold;
	color: #494949;
	display: inline-block;
	width: 100%;
}

fieldset:before{
	content: attr(name);
	color: black;
	position: absolute;
	top: -10px;
	right: 14px;
	background-color: white;
	padding: 0 9px;
}

fieldset{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
}