/*
	Bulge
	Author: Chase Willden;
	I put bulge sizing with bar-left sizing
*/
.bulge{
	-moz-box-shadow: 0 0 9px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 9px rgba(0,0,0,.3);
	box-shadow: 0 0 9px rgba(0,0,0,.3);
}

.bulge.low{
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow: 0 0 3px rgba(0,0,0,.2);
}

.bulge.high{
	-moz-box-shadow: 0 0 11px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 11px rgba(0,0,0,.4);
	box-shadow: 0 0 11px rgba(0,0,0,.4);
}