/*
	HR Styling
	Author: Chase Willden;
*/

hr{
	width: 100%;
	position: relative;
}

.hr-fade{
	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

hr.empty{
	padding-top: 20px;
	padding-bottom: 20px;
    border: none;
}

hr.sm{
	padding-top: 10px;
	padding-bottom: 10px;
}

hr.md{
	padding-top: 25px;
	padding-bottom: 25px;
}

hr.lg{
	padding-top: 40px;
	padding-bottom: 40px;
}