/*
	Navigation
	Author: Chase Willden;
*/

/* Mobile Version First */
nav.nav-top{
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	height: 45px;
	background-color: white;	
	box-shadow: 0px 3px 3px -2px rgba(0,0,0,.2);
	-moz-box-shadow: 0px 3px 3px -2px rgba(0,0,0,.2);
	-webkit-box-shadow: 0px 3px 3px -2px rgba(0,0,0,.2);
	z-index: 1000;
	bottom: inherit;
	width: auto;
}

nav.nav-top ul:nth-child(2).opened{
	left: 0;
}

nav.nav-top > ul:nth-child(2){
	position: fixed;
	top: 0;
	left: -101%;
	bottom: 0;
	width: 200px;
	margin: 0;
	background-color: #2E2E2E;
	padding-top: 40px;
	list-style: none;
	padding-left: 0;
	transition: ease left .5s;
	-o-transition: ease left .5s;
	-moz-transition: ease left .5s;
	-webkit-transition: ease left .5s;
}

nav.nav-top > ul > li > a{
	text-decoration: none;
	color: white;
	padding: 8px 10px;
	display: block;
	border-top: solid 1px #464646;
	border-bottom: solid 1px #464646;
}

nav.nav-top > ul.mobile-menu{
	list-style: none;
	display: block;
	padding: 0;
	position: absolute;
	top: 2px;
	left: 2px;
	margin: 0;
	cursor: pointer;
	z-index: 10000;
	transition: ease left .5s;
	-o-transition: ease left .5s;
	-moz-transition: ease left .5s;
	-webkit-transition: ease left .5s;
}

nav.nav-top > ul.mobile-menu.opened{
	left: 202px;
}

nav.nav-top.active{
	left: 0;
}

nav.nav-top.active > ul:nth-child(2){
	list-style: none;
	padding: 0;
}

nav.nav-top.active > ul:nth-child(2) > li{

}

nav.nav-top.active > ul:nth-child(2) > li > a{
	text-decoration: none;
	color: white;
	display: block;
	padding: 7px 10px 7px 20px;
	cursor: pointer;
}

nav.nav-top.active > ul:nth-child(2) > li > a:hover{
	background-color: #686868;
}

/* Non-mobile */

@media (min-width: 768px) {
	nav.nav-top > ul:nth-child(2){
		background-color: white;
	}
	nav.nav-top > ul.mobile-menu{
		display: none;
	}

	nav.nav-top > ul.menu-right{
		position: absolute;
		list-style: none;
		margin: 0 20px 0 0;
		padding: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		width: auto;
	}

	nav.nav-top > ul.menu-right > li{
		float: right;
		display: block;
		height: 100%;
	}

	nav.nav-top > ul.menu-right > li > a{
		padding: 13px 25px 11px 25px;
		border-bottom: solid 3px transparent;
		border-top: solid 1px transparent;
		transition: ease border-bottom .3s;
		-o-transition: ease border-bottom .3s;
		-moz-transition: ease border-bottom .3s;
		-webkit-transition: ease border-bottom .3s;
	}

	nav.nav-top > ul.menu-right > li > a:hover{
		border-bottom: solid 3px #4285f4;
		color: #4285f4;
	}

	nav.nav-top > ul.menu-right > li.active > a{
		border-bottom: solid 3px #F1921C;
	}

	nav.nav-top > ul.menu-right a{
		text-decoration: none;
		color: black;
		display: block;
	}

	nav.nav-top > ul.menu-right > li:hover > ul.dropdown{
		display: block;
	}

	/* Nav Left */
	nav.nav-left{
		
	}
}

/*
	Navigation Right
	Won't be visible until over 1000px
*/

nav.nav-right{
	display: none;
}
@media (min-width: 1000px){

	nav.nav-right{
		z-index: 10000;
		display: block;
		position: absolute;
	}

	nav.nav-right ul{
		list-style: none;
	}

	nav.nav-right ul ul.sub{
		padding-left: 16px;
		display: none;
	}

	nav.nav-right > ul > li{
		display: block;
	}

	nav.nav-right a{
		text-decoration: none;
		display: block;
		color: #808080;
		font-size: 15px;
		border-left: solid 2px transparent;
		transition: ease border-left-color .2s;
		-o-transition: ease border-left-color .2s;
		-moz-transition: ease border-left-color .2s;
		-webkit-transition: ease border-left-color .2s;
	}

	nav.nav-right > ul > li > ul.sub > li > a{
		padding: 3px 10px;
	}

	nav.nav-right > ul > li > a{
		padding: 3px 10px;
	}

	nav.nav-right a:hover, nav.nav-right .active a{
		border-left-color: orange;
	}

	nav.nav-right > ul.menu-right{
		float: right;
		text-align: right;
	}

	nav.nav-right .empty, nav.nav-right .empty *, nav.nav-right .empty:hover, nav.nav-right .empty *:hover{
		border: none;
		background-color: none;
	}

	nav.affix-top{
		position: fixed;
		top: 100px;
	}
}