/*
	Padding
	Author: Chase Willden;
*/

.padding-12.top{
	padding-top: 12%;
}

.padding-11.top{
	padding-top: 11%;
}

.padding-10.top{
	padding-top: 10%;
}

.padding-9.top{
	padding-top: 9%;
}

.padding-8.top{
	padding-top: 8%;
}

.padding-7.top{
	padding-top: 7%;
}

.padding-6.top{
	padding-top: 6%;
}

.padding-5.top{
	padding-top: 5%;
}

.padding-4.top{
	padding-top: 4%;
}

.padding-3.top{
	padding-top: 3%;
}

.padding-2.top{
	padding-top: 2%;
}

.padding-1.top{
	padding-top: 1%;
}

.padding-half.top{
	padding-top: .5%;
}

.padding-12.right{
	padding-right: 12%;
}

.padding-11.right{
	padding-right: 11%;
}

.padding-10.right{
	padding-right: 10%;
}

.padding-9.right{
	padding-right: 9%;
}

.padding-8.right{
	padding-right: 8%;
}

.padding-7.right{
	padding-right: 7%;
}

.padding-6.right{
	padding-right: 6%;
}

.padding-5.right{
	padding-right: 5%;
}

.padding-4.right{
	padding-right: 4%;
}

.padding-3.right{
	padding-right: 3%;
}

.padding-2.right{
	padding-right: 2%;
}

.padding-1.right{
	padding-right: 1%;
}

.padding-half.right{
	padding-right: .5%;
}

.padding-12.bottom{
	padding-bottom: 12%;
}

.padding-11.bottom{
	padding-bottom: 11%;
}

.padding-10.bottom{
	padding-bottom: 10%;
}

.padding-9.bottom{
	padding-bottom: 9%;
}

.padding-8.bottom{
	padding-bottom: 8%;
}

.padding-7.bottom{
	padding-bottom: 7%;
}

.padding-6.bottom{
	padding-bottom: 6%;
}

.padding-5.bottom{
	padding-bottom: 5%;
}

.padding-4.bottom{
	padding-bottom: 4%;
}

.padding-3.bottom{
	padding-bottom: 3%;
}

.padding-2.bottom{
	padding-bottom: 2%;
}

.padding-1.bottom{
	padding-bottom: 1%;
}

.padding-half.bottom{
	padding-bottom: .5%;
}

.padding-12.left{
	padding-left: 12%;
}

.padding-11.left{
	padding-left: 11%;
}

.padding-10.left{
	padding-left: 10%;
}

.padding-9.left{
	padding-left: 9%;
}

.padding-8.left{
	padding-left: 8%;
}

.padding-7.left{
	padding-left: 7%;
}

.padding-6.left{
	padding-left: 6%;
}

.padding-5.left{
	padding-left: 5%;
}

.padding-4.left{
	padding-left: 4%;
}

.padding-3.left{
	padding-left: 3%;
}

.padding-2.left{
	padding-left: 2%;
}

.padding-1.left{
	padding-left: 1%;
}

.padding-half.left{
	padding-left: .5%;
}