/*
	Select
	Author: Chase Willden;
*/

.no-select{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.select-text{
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.select-all{
	-webkit-touch-callout: all;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

.select-element{
	-webkit-touch-callout: element;
	-webkit-user-select: element;
	-khtml-user-select: element;
	-moz-user-select: element;
	-ms-user-select: element;
	user-select: element;
}