/*
	Alert
*/

.alert{
	padding: 10px 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #FAFAFA;
	display: block;
	border-left: solid 5px rgb(255, 204, 0);
	box-shadow: 0 0 11px rgba(0,0,0,.15);
	min-height: 44px;
	min-width: 200px;
	max-width: 250px;
	z-index: 10000;
	-webkit-transition: right .5s ease;
	-moz-transition: right .5s ease;
	-o-transition: right .5s ease;
	-ms-transition: right .5s ease;
	transition: right .5s ease;
}

.alert.off{
	right: -320px;
}

.alert .title{
	font-size: 20px;
	font-weight: bold;
	border-bottom: solid 1px #ccc;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

.alert .close{
	position: absolute;
	top: 3px;
	right: 3px;
	color: #ccc;
	cursor: pointer;
}

.alert .close:hover{
	color: black;
}