.code{
	width: 100%;
	background-color: #ccc;
	padding: 10px;
	box-shadow: 0 0 3px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.15);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.code.html .tag-name{
	color: blue;
}

.code.html .open-tag:before{
	content: '<';
	color: black;
}

.code.html .close-tag:after{
	content: '>';
	color: black;
}

.code.html .attr{
	color: #1D6A85;
}

.code.html .attr-val{
	color: #d14836;
}

.code.html .attr-val:before{
	content: '"';
}
.code.html .attr-val:after{
	content: '"';
}