/*
	Table
	Author: Chase Willden;
*/

.table{
	width: 100%;
	text-align: left;
}

.table td, .table th{
	padding: 7px 10px;
}

.table tr.head td, .table tr.head th{
	background-color: #F0F0F0;
	font-weight: bold;
	text-align: left;
	font-size: 17px;
}

.table tr:first-child{
	border-bottom: solid 2px #ccc;
}

.table.bottom-line td{
	border-bottom: solid 1px #8F8F8F;
}

.table.hover tr:hover{
	background-color: #E9EAEB;
}

.table.highlight tr:nth-child(even){
	background-color: #f9f9f9;
}