/*
	Colors
	Author: Chase Willden;
*/
.btn.blue{
	background-color: #4285f4 !important;
	border: 1px solid rgba(18, 113, 235, 0.69);
	color: white;
}

.btn.grey{
	background-color: #ccc;
	border: solid 1px rgba(210, 210, 210, 0.69);
	color: black;
}

.btn.red{
	background-color: #d14836;
	border: 1px solid rgba(182, 85, 31, 0.69);
	color: white;
}

.btn.green{
	background-color: #0f9d58;
	border: 1px solid rgba(27, 167, 83, 0.69);
	color: white;
}

.btn.orange{
	background-color: #f6921e;
	border: 1px solid rgba(189, 149, 24, 0.69);
	color: white;
}

.btn.pink{
	background-color: #C71350;
	border: 1px solid rgb(242, 44, 110);
	color: white;
}

.btn.peach{
	background-color: #D14836;
	border: solid 1px #E17769;
	color: white;
}

.btn.white{
	background-color: rgb(246, 246, 246);
	border: solid 1px #ccc;
	color: black;
}