/*
	Columns
	Author: Chase Willden;
*/

[class*="col-"]{
	min-height: 10px;
	float: left;
	display: block;
	height: 100%;
	padding: 10px;
}

.center[class*='col-']{
	text-align: center;
}

.center[class*='col-']:not([class*='offset-']){
	margin-left: auto;
	margin-right: auto;
}

.col-12{
	width: 100%;
}

.col-11{
	width: 91.66666666%;
}

.col-10{
	width: 83.33333333%;
}

.col-9{
	width: 75%;
}

.col-8{
	width: 66.66666666%;
}

.col-7{
	width: 58.33333333%;
}

.col-6{
	width: 50%;
}

.col-5{
	width: 41.66666666%;
}

.col-4{
	width: 33.33333333%;
}

.col-3{
	width: 25%;
}

.col-2{
	width: 16.66666666%;
}

.col-1{
	width: 8.333333333%;
}

.col-half{
	width: 4.166666666%;
}

/*
	Basically an empty column
*/
.offset-12{
	margin-left: 100%;
}

.offset-11{
	margin-left: 91.66666666%;
}

.offset-10{
	margin-left: 83.33333333%;
}

.offset-9{
	margin-left: 75%;
}

.offset-8{
	margin-left: 66.66666666%;
}

.offset-7{
	margin-left: 58.33333333%;
}

.offset-6{
	margin-left: 50%;
}

.offset-5{
	margin-left: 41.66666666%;
}

.offset-4{
	margin-left: 33.33333333%;
}

.offset-3{
	margin-left: 25%;
}

.offset-2{
	margin-left: 16.66666666%;
}

.offset-1{
	margin-left: 8.333333333%;
}

.offset-half{
	margin-left: 4.166666666%;
}

/*
	Phones
*/

@media (max-width: 768px){
	[class*='col-'].sm:not([class*='mobile-off']){
		display: inline-block;
		width: 100%;
	}
	[class*='offset-'].sm:not([class*='mobile-off']){
		margin-left: 0;
	}
}

/*
	Tablets
*/
@media (max-width: 992px){
	[class*='col-'].md:not([class*='mobile-off']){
		display: inline-block;
		width: 100%;
	}
	[class*='offset-'].md:not([class*='mobile-off']){
		margin-left: 0;
	}
}

/*
	Everything else
*/

@media (max-width: 992px){
	[class*='col-']:not([class*='sm']):not([class*='mobile-off']){
		display: inline-block;
		width: 100%;
	}

	[class*='offset-']:not([class*='sm']):not([class*='mobile-off']){
		margin-left: 0;
	}
}

/*
	Medium Desktop Computers
*/
@media (max-width: 1200px){
	[class*='col-'].lg:not([class*='mobile-off']){
		display: inline-block;
		width: 100%;
	}

	[class*='offset-'].lg:not([class*='mobile-off']){
		margin-left: 0;
	}
}